@import "node_modules/tachyons/css/tachyons.css";

* {
  transition: all 200ms;
}

[contenteditable]:focus {
  outline: none;
}

body {
  background-color: black;
  color: green;
  font-family: 'Work Sans', Arial, sans-serif;
  font-family: courier, monospace;
  text-transform: uppercase;
}

.app {
  max-width: 700px;
}

.slider--vertical {
  -webkit-appearance: slider-vertical;
  appearance: slider-vertical;
  writing-mode: bt-lr;
}

.brink {
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration: 1.7s;
}
